<section>
  <h1>Players</h1>
  <div class="container">
      <div class="interior">
          <a class="btn" (click)="newPlayer()">New Player</a>
      </div>
  </div>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th *ngFor="let header of playersTableHeaders">{{ header }}</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content-player">
      <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr *ngFor="let player of (players$ | async)">
                <th>{{player.name}}</th>
                <th>{{player.lastName}}</th>
                <th>{{player.position}}</th>
                <th>{{player.weight}}</th>
                <th>{{player.height}}</th>
                <th>{{player.nationality}}</th>
                <th>{{player.leftFooted}}</th>
                <th>
                    <button class="submit" (click)="editPlayer(player)">Edit</button>
                    <button>Delete</button>
                </th>
            </tr>
        </tbody>
      </table>
  </div>
</section>
<app-player-dialog *ngIf="showModal" [player]="selectedPlayer" (closeDialog)="closeDialog()"></app-player-dialog>