<div id="open-modal" class="modal-window">
  <div>
    <a href="#" title="Close" class="modal-close">Close</a>
    <h1>{{player ? 'Edit Player Form' : 'New Player Form'}}</h1>
    <div>
      <form #playerForm="ngForm" novalidate (ngSubmit)="onSubmit(playerForm)">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            name="name"
            [ngModel]="player?.name"
            (ngModelChange)="player.name = $event"
            ngModelrequired
          />
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input
            type="text"
            class="form-control"
            name="lastName"
            [ngModel]="player?.lastName"
            (ngModelChange)="player.lastName = $event"
            ngModelrequired
          />
        </div>
        <div class="form-group">
          <label for="position">Position</label>
          <select
            name="position"
            class="form-control"
            [ngModel]="player?.position"
            (ngModelChange)="player.position = $event"
            ngModelrequired
          >
            <option *ngFor="let position of squadNumber" [value]="position.key">{{
              position.label
            }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="weight">Weight</label>
          <input
            type="text"
            class="form-control"
            name="weight"
            [ngModel]="player?.weight"
            (ngModelChange)="player.weight = $event"
            ngModelrequired
          />
        </div>
        <div class="form-group">
          <label for="height">height</label>
          <input
            type="text"
            class="form-control"
            name="height"
            [ngModel]="player?.height"
            (ngModelChange)="player.height = $event"
            ngModelrequired
          />
        </div>
        <div class="form-group">
          <label for="nationality">Nationality</label>
          <select
            name="nationality"
            class="form-control"
            [ngModel]="player?.nationality"
            (ngModelChange)="player.nationality = $event"
            ngModelrequired
          >
            <option *ngFor="let n of countries" [value]="n.key">{{
              n.label
            }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="leftFooted">Left Footed</label>
          <input
            type="checkbox"
            class="form-control checkbox"
            name="leftFooted"
            [ngModel]="player?.leftFooted"
            (ngModelChange)="player.leftFooted = $event"
            ngModelrequired
          />
        </div>
        <div class="submit-container">
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
